# .env.example - Copy file ini menjadi .env lalu isi dengan API Key Anda sendiri
REDIS_URL="redis://redis-local:6379/0"
VLLM_API_BASE="http://vllm-mock:11434/v1"
GROQ_API_KEY="Isi_Dengan_API_Key_Groq_Anda"
GEMINI_KEY_3_5="Isi_Dengan_API_Key_Gemini_Anda"
LITELLM_MASTER_KEY="local-dev-secret-token"
